/*
=============== 
Variables
===============
*/

:root {
  --clr-primary-1: hsl(222, 43%, 42%);

  /* for buttons */
  --clr-primary-2: hsl(233, 59%, 40%);

  --clr-primary-3: hsl(0, 0%, 41%);
  --clr-primary-4: hsl(0, 33%, 95%);
  --clr-primary-5: hsl(0, 0%, 96%);

  /* background color for sections */
  --clr-primary-6: #f5f5f5;

  --transition: all 0.3s linear;

  --radius: 0.25rem;
  --spacing: 0.1rem;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.btn {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--clr-primary-2);
  color: white;
  font-weight: 600;
  border-color: rgb(243, 238, 238);
  border-radius: var(--radius);
  padding: 0.45rem 0.85rem;
  letter-spacing: var(--spacing);
  cursor: pointer;
  border-color: transparent;
}

/* links */
a {
  text-decoration: none;
}

/* section */
.section {
  padding: 5rem 0;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  /* max-width: var(--max-width); */
}

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 4px solid #ccc;
  border-top-color: var(--clr-primary-1);
  animation: spinner 0.6s linear infinite;
}

/* input */
::-webkit-input-placeholder {
  font-style: italic;
  padding-left: 15px;
  font-size: 18px;
}
:-moz-placeholder {
  font-style: italic;
  padding-left: 15px;
  font-size: 18px;
}
::-moz-placeholder {
  font-style: italic;
  padding-left: 15px;
  font-size: 18px;
}
:-ms-input-placeholder {
  font-style: italic;
  padding-left: 15px;
  font-size: 18px;
}

/* error */
.error-product {
  margin: 25px;
  font-size: 20px;
}
