/*
=============== 
Variables
===============
*/

:root {
  --clr-primary-1: hsl(222, 43%, 42%);

  /* for buttons */
  --clr-primary-2: hsl(233, 59%, 40%);

  --transition: all 0.3s linear;

  --radius: 0.25rem;
  --spacing: 0.1rem;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.btn {
  background: var(--clr-primary-2);
  color: white;
  border-color: rgb(243, 238, 238);
  border-radius: var(--radius);
  padding: 0.45rem 0.85rem;
  letter-spacing: var(--spacing);
  cursor: pointer;
  border-color: transparent;
}

::-webkit-input-placeholder {
  font-style: italic;
  padding-left: 15px;
  font-size: 18px;
}
:-moz-placeholder {
  font-style: italic;
  padding-left: 15px;
  font-size: 18px;
}
::-moz-placeholder {
  font-style: italic;
  padding-left: 15px;
  font-size: 18px;
}
:-ms-input-placeholder {
  font-style: italic;
  padding-left: 15px;
  font-size: 18px;
}
