/*
=============== 
Variables
===============
*/

:root {
  --clr-primary-1: hsl(222, 43%, 42%);
  --clr-primary-2: hsl(233, 59%, 40%);
  --radius: 0.25rem;
  --spacing: 0.1rem;
}

/*
=============== 
Global Styles
===============
*/

.btn {
  background: var(--clr-primary-2);
  color: white;
  border-color: rgb(243, 238, 238);
  border-radius: var(--radius);
  padding: 0.45rem 0.85rem;
  letter-spacing: var(--spacing);
  cursor: pointer;
  border-color: transparent;
}

* {
  margin: 0;
}
